Updated styling-11.11.2016/DoudizhuClient/DoudizhuClient/Service References/DoudizhuService/DoudizhuServiceContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DoudizhuServiceContract" elementFormDefault="qualified" targetNamespace="DoudizhuServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoadLobby">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLobbyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLobbyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerReadyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerWait">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerWaitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
        <xs:element minOccurs="0" name="baseScore" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerJoinRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerJoinRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerLeaveRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerLeaveRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermindLandlord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="l" type="xs:boolean" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermindLandlordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBetNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBaseScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeftoverCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeftoverCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLeftoverCardsResult" nillable="true" type="tns:ArrayOfCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:element name="StartDetermineLandlord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDetermineLandlordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="index" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCardsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCardsCombination">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cards" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCardsCombinationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCardsCombinationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCardsComparison">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cards" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCardsComparisonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCardsComparisonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveHints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveHintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GiveHintsResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlayerByUsernameResult" nillable="true" type="tns:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="IsFreeGive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Landlord" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastCards" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="LeftCards" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="NextPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ready" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadyForLandlord" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="IsMale" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerQuit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerQuitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLobbySubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLobbySubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLobbyUnSubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLobbyUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLobby_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p2" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p3" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="roomNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playerSetCancelReadySubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playerSetCancelReadySubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="playerSetCancelReadyUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playerSetCancelReadyUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCancelPlayerReady_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p2" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p3" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="roomNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playerJoinLeaveRoomSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playerJoinLeaveRoomSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="playerJoinLeaveRoomUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playerJoinLeaveRoomUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerJoinLeaveRoom_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p2" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p3" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="roomNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGameSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGameSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startGameUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGameUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p2" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="p3" nillable="true" type="tns:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="determinteLandlordSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="determinteLandlordSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="determinteLandlordUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="determinteLandlordUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeterminteLandlord_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tempdizhu" nillable="true" type="tns:ArrayOfPlayer" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dizhuorNot" nillable="true" type="q5:ArrayOfboolean" />
        <xs:element minOccurs="0" name="current" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="determined" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:element name="updateGameSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGameSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGameUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGameUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="current" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="bet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeCounterDownSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeCounterDownSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="timeCounterDownUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeCounterDownUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeCounterDown_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="current" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="timeLeft" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gameoverSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gameoverSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gameoverUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gameoverUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GameOver_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="previous" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="winner" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="next" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="leftovercards" nillable="true" type="tns:ArrayOfCard" />
        <xs:element minOccurs="0" name="quitter" nillable="true" type="tns:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLandlordCardSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLandlordCardSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLandlordCardUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLandlordCardUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLandlordCard_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="landlord" nillable="true" type="tns:Player" />
        <xs:element minOccurs="0" name="cardsType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChatterSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChatterSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChatterUnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChatterUnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChatter_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>